<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{description}}" />
	<meta name="keywords" content="{% for key in keywords %}{{key}},{% endfor %}" />
	<meta name="author" content="{{author}}" />


        <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Google Webfonts -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Sanchez:400,400italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic' rel='stylesheet' type='text/css'>

	<!-- Animate.css -->
	<link rel="stylesheet" href="static/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="static/css/icomoon.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="static/css/magnific-popup.css">
	<!-- Theme Style -->
	<link rel="stylesheet" href="static/css/style.css">
	<!-- Modernizr JS -->
	<script src="static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	                <script src="static/js/respond.min.js"></script>
	                <![endif]-->

    </head>
    <body>
	<header role="banner" id="fh5co-header" style="background-image: url(static/images/hero-4.jpg);" data-stellar-background-ratio="0.5">
	    <div class="fh5co-overlay"></div>
	    <div class="container">
		<div class="fh5co-intro-wrap">
		    <div class="fh5co-intro">
			<div class="row">
			    <div class="col-md-8 col-md-offset-2 text-center">
				<h1 class="fh5co-intro-lead animate-1 to-animate">{{head}}</h1>
				<h2 class="fh5co-intro-sub animate-2 to-animate">
                                    {{intro |safe}}
                                </h2>
				<p class="fh5co-social text-center" id="fh5co-intro-social">
				    <a href="https://twitter.com/Jeyem90" class="to-animate"><i class="icon-twitter-with-circle"></i></a>
				    <a href="https://github.com/jeyem" class="to-animate"><i class="icon-github-with-circle"></i></a>
				    <a href="https://www.instagram.com/jeyem90" class="to-animate"><i class="icon-instagram-with-circle"></i></a>
                                    <a href="mailto:{{email}}" class="to-animate"><i class="icon-paper-plane"></i></a>
				</p>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	</header>
        {% if bios %}
	<main role="main" id="fh5co-main">
	    <div class="container" id="bio-animate">
		<div class="row row-padded">
		    <div class="col-md-3">
			<h2 class="fh5co-section-heading to-animate">Biography<span class="fh5co-border"></span></h2>
		    </div>
		    <div class="col-md-8 col-md-push-1">
			<div class="row">
                            {% for bio in bios %}
			    <div class="col-md-6 to-animate">
                                {% for p in bio %}
                                {{p |safe}}
                                {% endfor %}
			    </div>
                            {% endfor %}
			    <div class="col-md-6 to-animate">
			    </div>
			</div>
		    </div>
		</div>
		<!-- END .row -->
	    </div>
	    <!-- END .container -->
            {% endif %}
	    <div class="container" id="services-animate">
		<div class="row row-padded">
		    <div class="col-md-3">
			<h2 class="fh5co-section-heading to-animate">Projects<span class="fh5co-border"></span></h2>
			<p class="to-animate">{{projects_description}}</p>
		    </div>
		    <div class="col-md-8 col-md-push-1">
			<div class="row">
                            {% for project in projects %}
			    <div class="col-md-12">
				<div class="fh5co-accordion-wrap">
				    <div class="fh5co-accordion to-animate">
					<div class="fh5co-accordion-head">
					    <a href="#" class="fh5co-accordion-toggle js-fh5co-accordion-toggle">Show More</a>
					    <h3>{{project.title |safe}}</h3>
					</div>
					<div class="fh5co-accordion-body active">
					    <p>{{project.description |safe}}</p>
					</div>
				    </div>
				</div>
			    </div>
                            {% endfor %}
			</div>
		    </div>
		</div>
		<!-- END .row -->

	    </div>
	    <!-- END .container -->

	    <div class="fh5co-section-seperator fh5co-section-seperator-white" id="contact-animate" style="background-image: url(static/images/hero-2.jpg);" data-stellar-background-ratio="0.5">
		<div class="fh5co-overlay"></div>
		<div class="container">
		    <div class="fh5co-section-content-wrap">
			<div class="fh5co-section-content">
			    <div class="row">

				<div class="col-md-8">
				    <h2 class="fh5co-section-heading to-animate">Get In Touch<span class="fh5co-border"></span></h2>

				    <ul class="fh5co-contact">
					<li class="fh5co-contact-address to-animate">
					    <i class="icon-home"></i>
					    {{address}}
					</li>
					<li class="to-animate"><i class="icon-phone"></i>{{call}}</li>
					<li class="to-animate"><i class="icon-email"></i>{{email}}</li>
				    </ul>
				</div>

			    </div>
			</div>
		    </div>
		</div>
	    </div>
	    <!-- END .container -->

	</main>

	<!-- jQuery -->
	<script src="static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="static/js/jquery.waypoints.min.js"></script>
	<!-- Stellar -->
	<script src="static/js/jquery.stellar.min.js"></script>
	<!-- countTo -->
	<script src="static/js/jquery.countTo.js"></script>
	<!-- Magnific Popup -->
	<script src="static/js/jquery.magnific-popup.min.js"></script>
	<!-- Main JS -->
	<script src="static/js/main.js"></script>


    </body>
</html>
